name: neuroverse
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  
  # API requests
  http: ^1.2.0
  
  # Secure token storage (JWT tokens)
  flutter_secure_storage: ^9.0.0

  # Non-secure simple local storage (theme mode, flags, etc.)
  shared_preferences: ^2.2.2

  image_picker: ^1.1.1

  url_launcher: ^6.2.1

  share_plus: ^7.2.1




dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  # assets:
  #   - assets/images/
  #   - assets/icons/
